@model List<Product>

<div class="container text-center">
    <h3>Products</h3><br>
    <div class="row">


        @{
            foreach (var item in Model)
            {
                <a asp-controller="Products" asp-action="View/@item.Id">
                    <div class="col-sm-4">
                        <img src="@(item.Image == "" ? "https://placehold.it/150x80?text=IMAGE" : item.Image)" class="img-responsive" style="max-width:100%; max-height:100%; width:auto; height:auto;" alt="Image">
                        <div>
                            <b> @item.Name </b>
                            <br />
                            @item.Description
                        </div>
                        <a asp-controller="User" asp-action="AddToCart"><img src="https://cdn0.iconfinder.com/data/icons/shopping-extras-set-1/512/1-128.png" alt="Add to shopping cart"  height="50"/></a>
                    </div>
                </a>
            }
        }



       
        
    </div>
</div><br>