@model AddProductVM

<!DOCTYPE html>
<html>
<head>
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product</h1>
    <form asp-controller="admin" asp-action="addproduct">
        <label asp-for="Name"></label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
        <br />
        <label asp-for="ArticleNumber"></label>
        <input asp-for="ArticleNumber" />
        <span asp-validation-for="ArticleNumber"></span>
        <br />
        <label asp-for="Category"></label>
        <input asp-for="Category" />
        <span asp-validation-for="Category"></span>
        <br />
        <label asp-for="Description"></label>
        <input asp-for="Description" />
        <span asp-validation-for="Description"></span>
        <br />
        <label asp-for="Image"></label>
        <input asp-for="Image" />
        <span asp-validation-for="Image"></span>
        <br />
        <label asp-for="ListPrice"></label>
        <input asp-for="ListPrice" />
        <span asp-validation-for="ListPrice"></span>
        <br />
        <label asp-for="Stock"></label>
        <input asp-for="Stock" />
        <span asp-validation-for="Stock"></span>
        <br />
        <input type="submit" value="Add Product" />
    </form>
</body>
</html>